.cart {
    background: rgba(255, 153, 0, 0.3);
    padding: 20px;
    border-radius: 20px;
    position: sticky;
    top: 0;
}

.cart h4 {
    text-align: center;
    font-size: larger;
    font-weight: 700;
    text-decoration: underline;
}

.btn-clear-cart {
    width: 90%;
    height: 56px;
    font-size: 21px;
    margin: 10px auto;
    background: #FF3030;
    border-radius: 4px;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}