.btn-proceed {
    width: 90%;
    height: 56px;
    font-size: 21px;
    margin: 10px auto;
    background: #FF9900;
    border-radius: 4px;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}